/* Popup.html */
body.popup {
	width: 500px;
	min-height: 300px;
}
div.subreddit {
	position: relative;
	border-bottom: 1px solid #000;
	margin-bottom: 12px;
}
div.subreddit:last-child {
	border-bottom: 0px;
}
header strong {
	text-transform: uppercase;
	font-size: 110%;
}
li {
	padding: 6px;
	position: relative;
	background: #FAFAFA;
}
li:nth-child(odd) {
	background: #F2F2F2;
}
li a {
	display: block;
}
.subreddit-url {
	font-size: 80%;
	position: absolute;
	top: 1px;
	right: 0px;
}
.post-link {
	
}
.author {
	float: left;
}
.permalink {
	float: right;
}
.score {
	display: block;
	clear: both;
}
.over-18 {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-top:10px solid red;
	border-right: 10px solid red;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	content: "";
}

/* Options.html */
body.options {

}

/* Globals */
input {
	display: block;
}
ul {
	padding: 0px;
}